.git/**
.github/**
.vscode/**
node_modules/**
src/**
tsconfig.json
.gitignore
.gitattributes
build.js
package-lock.json
*.vsix
*.log
coverage/**
tests/**
.node-local/**
out/commands/**
out/providers/**
out/services/**
out/types/**
out/views/**
